
/* .col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  } */

.vh40 {
  height: 40vh;
}

.vh60 {
  height: 60vh;
}

.vh40, .vh60 {
  background-color: #323232;
}

.white-line {
  height: 10vh;
  border: 0.2em solid white;
}

/* .red {
  outline: 1px solid red;
  height: 10vh;
} */

/* .add1, .add2 {
  background-color: bisque;
  height: 40vh;
} */

.title {
  color: white;
  background-color: #2c2b2b;
  height: 5vh;
}

.space {
  border: 0.1em solid gray;
}

body {
  background: linear-gradient(to top, rgba(255, 0, 255, 0.493) 5%, rgba(0, 255, 64, 0.658));
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

form h1 {
  font-family: 'Lobster', cursive !important;
}

#insta-logo {
  height: 85vh;
}