<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Insta Collage</title>
  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  </section>
  <section class="container vh40">
    <div class="row  mt-5 vh40">
      <div class="col-sm-5 offset-sm-1 drop-img border border-primary"></div>
      <div class="col-sm-5">
        <div class="row vh20">
          <div class="col drop-img border border-primary">
          </div>
        </div>
        <div class="row vh20">
          <div class="col drop-img border border-primary">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vh60">
    <div class="text-white text-center mb-3 mt-3">
      <h1 class="text-primary"><i class="fab fa-instagram mr-3"></i>Photos</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image1.jpg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image2.jpg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image3.jpg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image4.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image5.jpeg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image6.jpg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image7.jpg">
        </div>
        <div class="col-3">
          <img class="img-fluid drag-img" draggable="true" src="../assets/images/image8.jpg">
        </div>
      </div>
    </div>
  </section>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../js/home.js"></script>
</body>
</html>